<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @practice.title %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @practice.teacher %>
</p>

<p>
  <strong>Style:</strong>
  <%= @practice.style %>
</p>

<p>
  <strong>Length:</strong>
  <%= @practice.length %>
</p>

<p>
  <strong>Day:</strong>
  <%= @practice.day %>
</p>

<p>
  <strong>Time:</strong>
  <%= @practice.time %>
</p>

<%= link_to 'Edit', edit_practice_path(@practice) %> |
<%= link_to 'Back', practices_path %>
